<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href=".../assets/favicon.ico">
    <title>Eat-Da-Burger</title>
</head>

<body>
    {{{ body }}}
</body>

</html>